#map {
    height: 100vh; 
    width: 100%;     
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: auto;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#route-summary {
    position: absolute;
    top: 10%;
    left: 10px;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    display: none; /* Initially hidden */
    overflow-y: auto;
    max-height: 60vh;
}
.route-summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.route-option {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}





