#map {
    height: 100vh; 
    width: 100%;     
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: auto;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.route-summary {
    position: absolute;
    top: 20%;
    left: 0;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
    overflow-y: auto;
    max-height: 70vh;
}

.route-summary-header {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.route-summary-content {
    padding: 10px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}



.route-line {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.stop-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
}


