<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Interface</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>
    <link rel="stylesheet" href="static/overlay_styles.css">
</head>

<body>
    <div id="map">

        <div id="overlay" class="overlay-container" >
            <div class="overlay-content">
            <form method="POST"  id="route-form" onsubmit="return showRouteSummary(event); ">
                <input type="text" id="start_point" name="start_point" placeholder="Starting Point" onchange="updateMarkers()">
                <input type="text" id="end_point" name="end_point" placeholder="Ending Point" onchange="updateMarkers()">
                <select id="transport_type" name="transport_type" onchange="resetAwesomplete()">
                    <option value="" disabled selected>Select</option>
                    <option value="multimodal">Multimodal</option>
                    <option value="Metro">Metro</option>
                    <option value="Bus">Bus</option>
                    <option value="walking">Walking</option>
                </select>
                <input type="submit" value="Search route" class="btn btn-primary">
            </form>
            <!-- Transport buttons -->
              
        </div>
    </div>
    
    
</div>
<div id="route-summary" class="route-summary d-none">
    <div class="route-summary-header">
        <span>Route Summary</span>
        <button class="close-btn" onclick="closeRouteSummary()">X</button>
    </div>
    <div class="route-summary-content">

    </div>
</div>

 

    <script>

        // Initialize the map
        var map = L.map('map',{
            zoomControl:false
        }).setView([28.7041, 77.1025],12); 

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        const startIcon = L.divIcon({
        html: '<div style="background-color: green; width: 20px; height: 20px; border-radius: 50%; border: 2px solid white;"></div>',
        iconSize: [20, 20],
        className: 'custom-marker'
        });

        const endIcon = L.divIcon({
        html: '<div style="background-color: red; width: 20px; height: 20px; border-radius: 50%; border: 2px solid white;"></div>',
        iconSize: [20, 20],
        className: 'custom-marker'
        });


        var startMarker, endMarker,  dashedLine, routeLayer;       
        


        function updateMarkers() {
            var startStopName = document.getElementById('start_point').value;
            var endStopName = document.getElementById('end_point').value;

            // Fetch coordinates from backend based on selected stop names
            fetch(`/api/getCoordinates?start=${startStopName}&end=${endStopName}`)
                .then(response => response.json())
                .then(data => {
                    
                    if (data.start && data.end) {
                        if (startMarker) map.removeLayer(startMarker);
                        if (endMarker) map.removeLayer(endMarker);
                        if (dashedLine) map.removeLayer(dashedLine);
                        
                        startMarker = L.marker([data.start.lat, data.start.lng],{icon:startIcon}).addTo(map).bindPopup('Start');
                        endMarker = L.marker([data.end.lat, data.end.lng],{icon:endIcon}).addTo(map).bindPopup('End');

                        dashedLine = L.polyline([[data.start.lat, data.start.lng], [data.end.lat, data.end.lng]], {
                                                color: 'black', dashArray: '5, 10', // dash pattern
                                                weight: 2, opacity: 0.7
                                            }).addTo(map);
                        
                        var bounds = L.latLngBounds([[data.start.lat, data.start.lng], [data.end.lat, data.end.lng]]);
                        map.fitBounds(bounds);
                    
                }
            })
                .catch(error => {
                    console.error("Error fetching coordinates:", error);
                });
        }

        var awesompleteStart, awesompleteEnd;

        function resetAwesomplete() {
            const transportType = document.getElementById('transport_type').value;
            const startPointInput = document.getElementById('start_point');
            const endPointInput = document.getElementById('end_point');

            if (awesompleteStart) {
                awesompleteStart.destroy();
            }
            if (awesompleteEnd) {
                awesompleteEnd.destroy();
            }

            awesompleteStart = new Awesomplete(startPointInput, {
                minChars: 1,
                maxItems: 10,
                autoFirst: true
            });
            awesompleteEnd = new Awesomplete(endPointInput, {
                minChars: 1,
                maxItems: 10,
                autoFirst: true
            });

            //update searches
            startPointInput.addEventListener('input', function() {
                fetchStops(transportType, startPointInput.value, awesompleteStart);
            });

            endPointInput.addEventListener('input', function() {
                fetchStops(transportType, endPointInput.value, awesompleteEnd);
            });

        }

        function fetchStops(transportType, query, awesompleteInstance) {
            if (query.length < 1) return;

            fetch(`/api/getStops?Type=${transportType}&query=${query}`)
                .then(response => response.json())
                .then(data => {
                    if (data.stops) {
                        awesompleteInstance.list = data.stops;
                    }
                })
                .catch(error => {
                    console.error("Error fetching stops:", error);
                });
        }
        
        
        // commmunicator funcn to backend
        function showRouteSummary(event) {
            event.preventDefault();
            var formelement = document.getElementById('route-form')
            var data = new FormData(formelement);            
           

            fetch('/api/getRouteSummary',{
                method: 'POST',
                body: data,

            })
            .then(response => response.json())
            .then(data => {
                populateRouteSummary(data.route_summary, data.dist, data.time);
                drawRouteOnMap(data.path); 
                document.getElementById('route-summary').classList.remove('d-none');
            })
                .catch(error => {
                    console.error("Error fetching route summary:", error);
                });
        }
        

        //  route summary container
        function populateRouteSummary(routeSummary, totalDistance, totalTime) {
            var summaryContainer = document.querySelector('.route-summary-content');
            summaryContainer.innerHTML = `<h4>Distance: ${totalDistance.toFixed(2)} km</h4>
                                        <h4>Time: ${totalTime}</h4>`;

            var previousRoute = null;
            var isFirstRoute = true;

            
            routeSummary.forEach(stop => {
                
                if (stop.route_fact !== previousRoute) {
                    var routeLine = document.createElement('div');
                    routeLine.className = 'route-line';
                    routeLine.style.backgroundColor =  '#00FF00'; // Use the route color or a default color
                    routeLine.style.padding = '5px';
                    routeLine.style.color = 'white'; 
                    routeLine.style.marginBottom = '5px';
                    routeLine.style.borderRadius = '5px';
                    
                    // text for the first route or when the route changes
                    if (isFirstRoute) {
                        routeLine.textContent = `${stop.route_fact} line`;
                        isFirstRoute = false;
                    } else {
                        routeLine.textContent = `Change to ${stop.route_fact} line`;
                    }

                    summaryContainer.appendChild(routeLine);
                    previousRoute = stop.route_fact;
                }

                // div for each stop with the time and the route color label
                var stopElement = document.createElement('div');
                stopElement.classList.add('stop-summary');
                stopElement.style.display = 'flex';
                stopElement.style.justifyContent = 'space-between';
                stopElement.style.alignItems = 'center';
                stopElement.style.padding = '5px 0';
                
                stopElement.innerHTML = `
                    <span>${stop.name} - ${stop.time}</span>
                `;
                summaryContainer.appendChild(stopElement);
            });
        }

        function drawRouteOnMap(path) {
            if (routeLayer) {
                map.removeLayer(routeLayer);
            }

            var latLngs=[]
            path.forEach(function(path){
                latLngs.push(path.geopoints);
            })
            path.forEach(function(p){
                stops = String(p.stop_name)
                var marker = L.circleMarker([p.stop_lat,p.stop_lon],{
                    color: 'blue',
                    radius: 8
                }).addTo(map)
                .bindPopup(stops)                

            })            
            
            routeLayer = L.polyline(latLngs, {color: 'red', weight: 4}).addTo(map);            
            map.fitBounds(routeLayer.getBounds());
        }
        

        function closeRouteSummary(){
            document.getElementById('route-summary').classList.add('d-none');
        }


        map.on('zoomend', function() {
            var zoomLevel = map.getZoom();
            var inputs = document.querySelector('.overlay-container');
            if (zoomLevel < 10) {
                inputs.style.display = 'none';
            } else {
                inputs.style.display = 'flex';
            }
        });

       
    </script>
</body>
</html>
