<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="static/overlay_style.css">

</head>
<body>
    <div id="overlay">
        <div class="overlay-content">
            <h1>Beginning and Ending</h1>
            <form method="POST" action = "/searchBusRoute" id="route-form">            
                
                    <input type="text" id="start_point" name="start_point" list="stop_list" placeholder="Starting Point" onchange="updateSPStopIds()">
                        <datalist id="stop_list">
                        {% for stop in stops %}
                        <option value="{{ stop[1] }}">{{ stop[1] }}</option>
                        {% endfor %}
                    </datalist>
            
                    <label for="sp_ids"> </label>
                    <select id="sp_ids" name="Start_Stop">
                        <option value= >Select Stop ID</option>
                        <!-- Options will be populated dynamically -->
                    </select>
                
                    <input type="text" id="end_point" name="end_point" list="stop_list" placeholder="Ending Point" onchange="updateEPStopIds()">
                        <datalist id="stop_list">
                        {% for stop in stops %}
                        <option value="{{ stop[1] }}">{{ stop[1] }}</option>
                        {% endfor %}
                    </datalist>
                
                    <label for="ep_ids"> </label>
                    <select id="ep_ids" name="End_Stop">
                        <option value= >Select Stop ID</option>
                        <!-- Options will be populated dynamically -->
                    </select>
            
                <br>
                <br>
                <label for="transport_type">Transport Type:</label>
                <select id="transport_type" name="transport_type">
                    <option value="metro">Metro</option>
                    <option value="bus">Bus</option>
                    <option value="walk">Walk</option>
                </select>
                &emsp;
                <input type="submit" value="Search route">
                </form>
                
                
                
                
                
            
            <button class="close-button" onclick="closeOverlay()">X</button>
        </div>
    </div>

    <div id="map">
        <div class="map-title">City Map</div>
        </div>

    

    <script>
        var map = L.map('map').setView([28.7041, 77.1025],16); //  city's latitude, longitude and initial zoom
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
            maxZoom: 18,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        const stopData = {{ stop_data | tojson }};
        
        function updateSPStopIds() {
            const stopName = document.getElementById('start_point').value;
            const stopIdsDropdown = document.getElementById('sp_ids');
            
            // Clear previous options
            stopIdsDropdown.innerHTML = '<option value="">Select Stop ID</option>';
            
            if (stopName && stopData[stopName]) {
                const stopIds = stopData[stopName].split(',');
                stopIds.forEach(id => {
                    const option = document.createElement('option');
                    option.value = id;
                    option.textContent = id;
                    stopIdsDropdown.appendChild(option);
                });
            }
        }

        function updateEPStopIds() {
            const stopName = document.getElementById('end_point').value;
            const stopIdsDropdown = document.getElementById('ep_ids');
            
            
            stopIdsDropdown.innerHTML = '<option value="">Select Stop ID</option>';
            
            if (stopName && stopData[stopName]) {
                const stopIds = stopData[stopName].split(',');
                stopIds.forEach(id => {
                    const option = document.createElement('option');
                    option.value = id;
                    option.textContent = id;
                    stopIdsDropdown.appendChild(option);
                });
            }
        }


        function closeOverlay() {
            document.getElementById('overlay').style.display = 'none';
            document.getElementById('map').style.filter = 'none'; // Remove blur effect from map
        }

        

    </script>
</body>
</html>
